---
const { prefix = '', includeScript = true } = Astro.props;
import TwinklingStars from '@components/TwinklingStars.astro';
import MeteorShower from '@components/MeteorShower.astro';
---
<div class="absolute inset-0 block dark:hidden">
  <div id={prefix + 'particles1'} class="fixed inset-0"></div>
  <div id={prefix + 'particles2'} class="fixed inset-0"></div>
  <div id={prefix + 'particles3'} class="fixed inset-0"></div>
</div>

<div class="absolute inset-0 bg-black hidden dark:block">
  <div id={prefix + 'stars1'} class="fixed inset-0"></div>
  <div id={prefix + 'stars2'} class="fixed inset-0"></div>
  <div id={prefix + 'stars3'} class="fixed inset-0"></div>
</div>

<div id={prefix + 'galaxy'} class="fixed inset-0">
  <div class="hidden dark:block">
    <TwinklingStars />
    <MeteorShower />
  </div>
</div>

{includeScript && <script is:inline src="/js/bg.js"></script>}