---
import Container from "@components/Container.astro";

interface Item {
	collection: string;
	slug: string;
	data: {
		title: string;
	};
}

const { items = [] }: { items?: Item[] } = Astro.props;
---

<div class="py-5">
	<Container size="md">
		<div class="animate">
			{
				items.length > 0 && (
					<ul class="flex flex-col gap-1">
						{items.map((entry) => (
							<li>
								<a
									href={`/${entry.collection}/${entry.slug}`}
									class="group px-4 py-2 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20"
								>
									<div class="w-full">
										<div class="font-semibold  text-black dark:text-white line-clamp-2">
											📌 {entry.data.title}
										</div>
									</div>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 24 24"
										fill="none"
										stroke-width="2.5"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="stroke-current"
									>
										<polyline points="12 5 19 12 12 19" />
										<line x1="5" y1="12" x2="19" y2="12" />
									</svg>
								</a>
							</li>
						))}
					</ul>
				)
			}
		</div>
	</Container>
</div>
